@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* MAIN CSS = DESIGN DU SITE */

*,
::after,
::before {
  margin:0 ;
  padding: 0 ;
  box-sizing: border-box;
}

/* scrollbar */
/* ::-webkit-scrollbar {
  width: 10px;
  background-color: theme(colors.main);
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.main');
  border-radius: 10px;
  border: 1px solid theme('colors.sub');
} */

body, html {
  height: 100%;
  background-color: theme('colors.main.DEFAULT') !important;
}

 body {
   background-color: theme('colors.main.DEFAULT') !important;
  } 

  .hr-custom {
    border-color: theme('colors.white');
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
  }

  @keyframes float-vertical {
    0% {
      
      transform: translateY(0px);
    }
    50% {
      
      transform: translateY(-15px);
    }
    100% {
      
      transform: translateY(0px);
    }
  }
  
  .animate-float-vertical {
    animation: float-vertical 5s ease-in-out infinite;
  }

  @keyframes float-horizontal {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translateX(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translateX(-15px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translateX(0px);
    }
    
  }
  
  .animate-float-horizontal {
    animation: float-horizontal 5s ease-in-out infinite;
  }

  @keyframes float-horizontal-slow {
    0% {
     
      transform: translateX(0px);
    }
    50% {
      
      transform: translateX(-15px);
    }
    100% {
      
      transform: translateX(0px);
    }
    
  }
  
  .animate-float-horizontal-slow {
    animation: float-horizontal-slow 5s ease-in-out infinite;
  }

  @keyframes float-horizontal-over-slow {
    0% {
     
      transform: translateX(0px);
    }
    50% {
      
      transform: translateX(-15px);
    }
    100% {
      
      transform: translateX(0px);
    }
    
  }
  
  .animate-float-horizontal-over-slow {
    animation: float-horizontal-slow 8s ease-in-out infinite;
  }


/* SHADOW ANIMATIONS */
 @keyframes shadow-transition {
  0% {
    box-shadow: 0px 0px 15px -3px rgba(188, 248, 222, 0.8);
  }
  50% {
    box-shadow: 0px 0px 25px -3px rgba(188, 248, 222, 1.5);
  }
  70% {
    box-shadow: 25px 0px 25px -3px rgba(188, 248, 222, 4.0);
  }
  80% {
    box-shadow: 0px 10px 25px -3px rgba(188, 248, 222, 4.0);
  }
  100% {
    box-shadow: 0px 0px 15px -3px rgba(188, 248, 222, 0.8);
  }
}

  
  .animate-shadow-transition {
    animation: shadow-transition 4s ease-out infinite;
  }
  

  @keyframes shadow-transition-dark {
    0% {
      box-shadow: 0px 0px 15px -3px rgba(57, 49, 53, 0.8);
    }
    50% {
      box-shadow: 0px 0px 25px -3px rgba(57, 49, 53, 1.5);
    }
    70% {
      box-shadow: 25px 0px 25px -3px rgba(57, 49, 53, 4.0);
    }
    80% {
      box-shadow: 0px 0px 25px 10px rgba(57, 49, 53, 7.0);
    }
    100% {
      box-shadow: 0px 0px 15px -3px rgba(57, 49, 53, 0.8);
    }
  }
  
    
    .animate-shadow-transition-dark {
      animation: shadow-transition-dark 4s ease-out infinite;
    }



    @keyframes shadow-transition-light {
      0% {
        box-shadow: 0px 0px 15px -3px rgba(188, 248, 222, 0.8);
      }
      50% {
        box-shadow: 0px 0px 25px -3px rgba(188, 248, 222, 1.5);
      }
      70% {
        box-shadow: 25px 0px 25px 5px rgba(188, 248, 222, 4.0);
      }
      80% {
        box-shadow: 0px 0px 25px 10px rgba(188, 248, 222, 7.0);
      }
      100% {
        box-shadow: 0px 0px 15px -3px rgba(188, 248, 222, 0.8);
      }
    }
    
      
      .animate-shadow-transition-light {
        animation: shadow-transition-light 8s ease-out infinite;
      }




    @keyframes bubble-light-blur {
      0% {
        background-position: 0 0;
        filter: blur(0);
      }
      100% {
        background-position: 100% 100%;
        filter: blur(10px);
      }
    }
    
    .animation-bubble-light-blur {
      animation: bubble-light-blur 5s infinite linear;
    }

    